---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1><a href="{{ absolute_url }}/">Luis Kaiser</a></h1>

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">https://luiskaiser.com/cv</a>.</small>

<div class="header-columns">
  <div>
    <p>
      PhD Student at The University of Texas at Austin<br/>
    </p>
  </div>
  <div>
    <ul class="right-align">
      <li>lkaiser (at) utexas.edu</li>
      <li><a href="https://scholar.google.com/citations?user=AB4exREAAAAJ&hl=en" target="_blank">Google Scholar</a>, <a href="https://github.com/utkaiser" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/luiskaiser/" target="_blank">LinkedIn</a>, <a href="https://x.com/luiskaiser_" target="_blank">X</a></li>
    </ul>
  </div>
</div>


<h2>Research Area</h2>

<p>
I am broadly interested in robotics, generative modeling and applied mathematics.
<br>
My long-term goals are to i) design novel reinforcement learning algorithms that use general purpose foundation models (language, vision or multimodal), and
ii) ground deep learning in mathematical principles through partial differential equations.

</p>


<h2>Positions</h2>

{% assign filtered_positions = site.data.positions | where_exp:'item','item.hidden == null' %}
{% for pos in filtered_positions %}
  <div class="date-container">
    <span class="date">{{ pos.years | replace: "-", "–" }}</span>
    <strong class="fill">{{pos.company}}</strong>
    <span class="right">{{ pos.location }}</span>
  </div>
  <div class="details">
    {{pos.title}}{% if pos.short_desc %}{{ pos.short_desc | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}, {{pos.description | markdownify | remove: '<p>' | remove: '</p>' }}
  </div>
  <!-- <p>
    {% if pos.mentors %}
      Mentor{% if pos.mentors.size > 1 %}s{% endif %}: {% for mentor in pos.mentors %}
        {% include person person=mentor %}{% unless forloop.last %}, {% endunless %}
      {% endfor %}<br/>
    {% endif %}
    {{ pos.description | markdownify | remove: '<p>' | remove: '</p>' }}
    {% if pos.skills %}
    <small class="muted">[{% for skill in pos.skills %}{{ skill }}{% unless forloop.last %}, {% endunless %}{% endfor %}]</small>
    {% endif %}
  </p> -->
{% endfor %}


<h2>Education</h2>

{% for ed in site.data.education %}
  <div class="date-container">
    <span class="date">{{ ed.years }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p class="details">
    {% for des in ed.description %}
      <span style="margin-right: 10px;">&bull; {{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
{% endfor %}


<h2>Publications</h2>
{% assign sorted_pubs = site.publications | reverse %}
{% assign types = "Conference|Thesis" | split: "|" %}
{% for type in types %}
  {% assign counter = 1 %}
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
  <h3 class="pub-type">{{ type }}</h3>
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | minus: 1 %}
      <div class="pub">
        <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
        <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}" target="_blank">{{ pub.title }}</a>{% elsif pub.arxiv %}<a href="https://arxiv.org/pdf/{{ pub.arxiv | cgi_escape }}.pdf" target="_blank">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</strong>
        <div>
          {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}.

          {% if pub.link or pub.pdf or pub.arxiv or pub.video or pub.blog or pub.slides or pub.doi %}
            <div class="extra-links">
            {% if pub.link %}
              <a href="{{ pub.link }}" target="_blank">
                <i class="fas fa-link" aria-hidden="true"></i> Paper
              </a>
            {% endif %}
            {% if pub.blog %}
              <a href="{{ pub.blog }}" target="_blank">
                <i class="fas fa-newspaper" aria-hidden="true"></i> Article
              </a>
            {% endif %}
            {% if pub.video %}
              <a href="{{ pub.video }}" target="_blank">
                <i class="fas fa-film" aria-hidden="true"></i> Video
              </a>
            {% endif %}
            {% if pub.code %}
              <a href="{{ pub.code }}" target="_blank">
                <i class="fa-brands fa-github" aria-hidden="true"></i> Code
              </a>
            {% endif %}
            {% if pub.arxiv %}
              <a href="https://arxiv.org/pdf/{{ pub.arxiv | cgi_escape }}.pdf" target="_blank">
                <i class="far fa-file-pdf" aria-hidden="true"></i> arXiv
              </a>
            {% endif %}
            {% if pub.doi %}
              <a href="https://www.doi2bib.org/bib/{{ pub.doi }}" target="_blank">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv2bibtex.org/?q={{ pub.arxiv | cgi_escape }}" target="_blank">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% endif %}
            </div>
          {% endif %}

          {% for award in pub.awards %}<strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}

{% comment %}
<h2>Patents</h2>

{% for patent in site.data.patents %}
  <div class="date-container">
    <span class="date">{{ patent.date | date: "%b %Y" }}</span>
    <h3><a href="{{ patent.url }}" target="_blank">{{ patent.title }}</a></h3>
  </div>
  <div class="patent">
    <p>
      {% for author in patent.authors %}
        {% include person person=author %}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  </div>
{% endfor %}

<h2>Student Mentoring</h2>
{% assign filtered_mentoring = site.data.mentoring | where_exp:'item','item.hidden == null' %}
{% for mentor in filtered_mentoring %}
  {% if mentor.names %}
    <div class="date-container">
      <span class="date">{{ mentor.year | replace: "-", "–" }}</span>
      <h3>{{ mentor.relation }}</h3>
      <span class="right">{{ mentor.location }}</span>
    </div>
    {% if mentor.note %}
      <p class="muted">{{ mentor.note }}</p>
    {% endif %}
    <ul>
    {% for person in mentor.names %}
      <li>{% include person person=person %}</li>
    {% endfor %}
    </ul>
  {% else %}
    <div class="date-container">
      <span class="date">{{ mentor.year | replace: "-", "–" }}</span>
      <h3>{% include person person=mentor.name %}</h3>
      <span class="right">{{ mentor.location }}</span>
    </div>
    <p>{{ mentor.relation }}. {% if mentor.note %}<span class="muted">{{ mentor.note }}</span>{% endif %}</p>
  {% endif %}
{% endfor %}
{% endcomment %}


<h2>Talks</h2>
{% assign talktitles = site.data.talks | group_by:"title" %}
{% for title in talktitles %}
  <h3 class="cv-talk-title">{{ title.name }}</h3>
  {% assign sorted_talks = title.items | sort: 'date' | reverse %}
  {% for talk in sorted_talks %}
    <div class="date-container">
      <time datetime="{{ talk.date }}" style="position: relative; top: -23px;">{{ talk.date | date: "%b %Y" }}</time>
      <span class="fill"><span class="muted">{{ talk.location }}{% if talk.city %}, {{ talk.city }}{% endif %}</span></span>
    </div>
  {% endfor %}
{% endfor %}


<h2>Teaching</h2>
{% for teach in site.data.teaching %}
  <div class="date-container">
    <span class="date">{{ teach.year }}</span>
    <strong class="fill">{{ teach.title }}</strong>
    <span class="right">{{ teach.location }}</span>
  </div>

  <p class="muted" style="margin-bottom: 0;">
    {% if teach.students %}
      {% if teach.role %}{{ teach.role }}{% endif %}{% if teach.professor %} for {% include person person=teach.professor %}{% endif %},
      {{ teach.students }}
    {% elsif teach.description %}
      {{ teach.description }}
    {% endif %}
  </p>

  {% if teach.bullets %}
    <div style="margin-left: 100px; margin-top: 0px; margin-bottom: 12px;" class="muted">
      {% for bullet in teach.bullets %}
        <p style="margin-bottom: 0px;">
          <span style="margin-right: 2px;">&bull;</span> {{ bullet }}
        </p>
      {% endfor %}
    </div>
  {% endif %}

{% endfor %}

{% comment %}
<h2>Service</h2>

<p>
</p>
{% endcomment %}


<h2>Awards</h2>
{% for award in site.data.awards %}
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.sponsor }}</span>
  </div>
  <p class="muted">
    {{ award.description }}
  </p>
{% endfor %}




</section>

<div style="padding-top: 40px;"></div>
