#facets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }

  .facet {
    &:not(:last-child) {
      margin-right: 12px;
    }

    min-width: 125px;
    flex-grow: 1;
    flex-basis: 0;
  }

  ul {
    min-width: 0;
    list-style: none;
    margin-left: 0;

    li {
      min-width: 0;
      white-space: nowrap;
      font-size: 0.9rem;
      cursor: pointer;

      color: $grey-color-dark;

      &.in-query {
        color: black;
        font-weight: 500;
      }

      & > span {
        display: flex;
        align-items: center;

        .limited {
          padding-right: 0.3em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cnt {
          color: $grey-color-light;
        }
      }

      .bar-full {
        border-bottom: 2px solid #ddd;
        width: 100px;
        max-width: 100%;
        margin-bottom: 3px;

        .bar {
          border-bottom: 2px solid $brand-color;
          margin-bottom: -2px;
        }
      }
    }
  }
}

#only-highlight input {
  vertical-align: text-bottom;
}

#only-highlight.hidden {
  display: none;
}

@include media-query($on-laptop) {
  .bar-full {
    width: 80px !important;
  }
}

#clear-filters {
  color: $grey-color-dark;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }

  &.hidden {
    opacity: 0;
  }

  i {
    color: firebrick;
  }
}

#ft-search {
  width: 350px;
  font-size: 1.1em;
  padding: 0.4em;
}

.pubs {
  .pub-year {
    font-size: 1.3em;
    margin: 0.7em 0 0.5em 0;
    border-bottom: none;
    color: $grey-color;
  }

  .publication,
  .year {
    opacity: 1;
    max-height: 600px;
    overflow: hidden;
    transition: all 0.6s ease;

    &.hidden {
      max-height: 0;
      margin: 0;
      opacity: 0;
    }
  }

  .pub {
    margin-bottom: 1.2rem;
    margin-left: 0 !important;

    & > * {
      margin-left: 0px;
    }

    .fill {
      fill: 1;
      display: block;
    }

    .extra-links {
      font-size: 0.75rem;
      margin-top: 0.2rem;

      a {
        color: $grey-color;
        margin-right: 4px;

        // avoid the extra whitespace after the link text
        display: inline-block;
      }
    }

    &:hover {
      .extra-links a {
        color: $grey-color;
      }
    }
  }

  // Responsive design for publications with images
  @media (max-width: 768px) {
    .publication {
      gap: 0.8rem;
      
      .publication-thumbnail {
        width: 120px;
        
        img {
          height: 100%;
        }
      }
    }
  }
}

._publications p {
  font-size: 1rem;
  line-height: 1.6;
  // text-align: justify;
  hyphens: none;
}